#sidebar{
  height:100vh;
  width:240px;
  float:left;
  background-color:#f9f9f9;
}
#map{
  height:100vh;
  width:calc(100% - 240px);
  float:left;
}
h3{
  padding:0 20px;
  text-align: center;
}
.logo{
  width:240px;
  margin:20px 0;
}
.cluster{
  background-image: url('../icons/cluster.png');
  background-size: cover;
}
.red{
  background-color:red;
}
.orange{
  background-color:orange;
}
.blue{
  background-color:blue;
}
.green{
  background-color:green;
}
.brown{
  background-color:brown;
}
ul{
  list-style: none;
  margin-top:40px;
}
li{
  margin:20px 0;
}
li input[type=checkbox]{
  display:none;
}
button,
button:hover,
button:focus,
span.btn,
span.btn:hover,
span.btn:focus{
  color:white !important;
}
label{
  cursor:pointer;
}
