body{
  height:100%;
  width:100%;
  margin:0;
}
#map{
  position:absolute;
  height:100%;
  width:100%;
}
.marker{
  height:10px;width:10px;
  border-radius:50%;
}
.c12{
  background-color: red;
}
.c13{
  background-color: yellow;
}
.c14{
  background-color: blue;
}
.c15{
  background-color: green;
}
.toggles{
  position:absolute;
  top:10px;
  left:10px;
  z-index:10;
  background-color: white;
}
